#gitignore file.   Probably going to ignore all .txt files since they have relevant info in them.


*.txt

#has the data that I am putting into the table
secondary-structures.csv

#same data as above, but in the format to add it to the table
secondary_structures.sql

## update information in the table with distance to protein, also nohup file from running the python script with nohup.
secondary-protein/update-protdist-secondary_structures.sql
secondary-protein/nohup.out